.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.none {
  display: none;
}

.page {
  color: $title-text-color;
  font-family: $primary-font-family, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03rem;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*outline: 4px solid olivedrab;*/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin: 0;
  margin-bottom: 50px;
  color: $primary-text-color;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03rem;
}